.catalog {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 60px 60px;
}



.catalog-item {
    width: 100%;
    height: 450px;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.catalog-item>img {
    width: 100%;
    height: calc(100% - 80px);
}


.catalog-item:hover {
    transform: translateY(-8px) scale(1.02);
}

.catalog-item:hover>img {
    filter: blur(1.5px) contrast(80%);
}

.catalog-item::after {
    content: 'Показать';
    color: rgb(0, 0, 0);
    position: absolute;
    top: 30%;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    display: block;
    z-index: 3;
    visibility: hidden;
}

.catalog-item:hover::after {
    visibility: visible;
}

.item-menu {
    height: 80px;
    width: 100%;
    color: #fff;
    background-color: #222;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    text-align: center;
    margin: 0px;
    padding: 0;
    font-weight: 400;
}

.item-menu>p {
    text-align: right;
    font-size: 14px;
    padding-right: 10px;
    margin: 0;
}

@media (max-width:1000px) {
    .catalog {
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);

    }

    .catalog-item {
        height: 350px;
    }

    .item-menu {
        height: 60px;

    }

    .item-menu>p {
        font-size: 12px;
    }

    .item-menu {
        font-size: 14px;
    }

    .catalog-item>img {
        width: 100%;
        height: calc(100% - 60px);
    }

}

@media (max-width:760px) {
    .catalog {
        grid-template: repeat(6, 1fr) / repeat(2, 1fr);

    }

    .catalog-item {
        height: 300px;
    }

    .item-menu {
        height: 50px;

    }

    .item-menu>p {
        font-size: 10px;
    }

    .item-menu {
        font-size: 12px;
    }

    .catalog-item>img {
        width: 100%;
        height: calc(100% - 50px);
    }

}